:root {
  --main-color-two: #f6871f;
  --main-color-one: #272974;
  --heading-color: #0a1121;
  --default-color: #212529;
  /* --paragraph-color: #878a95; */
  --paragraph-color: rgb(33, 37, 41);
  --body-font: "Nunito", sans-serif;
  --heading-font: "Open Sans", sans-serif;
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding: 30px 0;
  margin-bottom: 30px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 0;
  position: relative;
  z-index: 2;
}

.section-title span {
  position: absolute;
  top: 4px;
  color: color-mix(in srgb, var(--heading-color), transparent 95%);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 52px;
  text-transform: uppercase;
  line-height: 1;
}

.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}

  .hero-slider .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  

  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }


  /*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features .nav-tabs {
  border: 0;
  background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 6px;
  width: auto;
}

.features .nav-item {
  margin: 0;
  padding: 0 5px 0 0;
}

.features .nav-item:last-child {
  padding-right: 0;
}

.features .nav-link {
  background-color: none;
  color: var(--heading-color);
  padding: 10px 30px;
  transition: 0.3s;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  border: 0;
  margin: 0;
}

@media (max-width: 468px) {
  .features .nav-link {
    padding: 8px 20px;
  }
}

.features .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.features .nav-link h4 {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.features .nav-link:hover {
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.features .nav-link:hover h4 {
  color: var(--main-color-two);
}

.features .nav-link.active {
  background-color: var(--main-color-two);
  border-color: var(--main-color-two);
}

.features .nav-link.active h4 {
  color: var(--contrast-color);
}

.features .tab-content {
  margin-top: 30px;
}

.features .tab-pane h3 {
  color: var(--heading-color);
  font-weight: 700;
  font-size: 32px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.features .tab-pane h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background: var(--main-color-two);
  left: 0;
  bottom: 0;
}

.features .tab-pane ul {
  list-style: none;
  padding: 0;
}

.features .tab-pane ul li {
  padding-top: 10px;
}

.features .tab-pane ul i {
  font-size: 20px;
  padding-right: 4px;
  color: var(--main-color-two);
}

.features .tab-pane p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Features Cards Section
--------------------------------------------------------------*/
.features-cards {
  --default-color: #555;
  --heading-color: #333;
}

.features-cards .feature-box {
  height: 100%;
  padding: 40px 30px;
  border-radius: 10px;
}

.features-cards .feature-box i {
  font-size: 44px;
  display: inline-block;
  line-height: 0;
  color: var(--main-color-two);
  margin-bottom: 20px;
}

.features-cards .feature-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.features-cards .feature-box p {
  font-size: 15px;
  margin-bottom: 0;
}

.features-cards .feature-box.orange {
  background-color: #fff3e2;
}

.features-cards .feature-box.orange i {
  color: #edb86e;
}

.features-cards .feature-box.blue {
  background-color: #deedfd;
}

.features-cards .feature-box.blue i {
  color: #20a5f8;
}

.features-cards .feature-box.green {
  background-color: #d5f1e4;
}

.features-cards .feature-box.green i {
  color: #48c88a;
}

.features-cards .feature-box.red {
  background-color: #fdeded;
}

.features-cards .feature-box.red i {
  color: #f28484;
}

  